#Uploading the client file and model

In [4]:
import pandas as pd
df=pd.read_csv('/content/Clientinput - Sheet1 (1).csv')
df

    Area  Bedroom  Age
0   2500        2   10
1   2800        2    8
2   3500        3   12
3   4000        3   15
4   4600        3   20
5   5200        4   14
6   5800        4   16
7   6300        4   19
8   6550        4   13
9   6900        5   22
10  7250        5   25

In [5]:
#we have to activate the ML model
import pickle
with open('/content/rspuramhousingmodel','rb') as f:
  reg=pickle.load(f)

#Predict the data

In [6]:
reg.predict([[2000,2,18]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([8542709.74357281])

In [7]:
pricedf=reg.predict(df)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Age
- Area
- Bedroom
Feature names seen at fit time, yet now missing:
- age
- area
- bedroom

  warnings.warn(message, FutureWarning)

In [8]:
df['price']=pricedf
df

    Area  Bedroom  Age         price
0   2500        2   10  1.394342e+07
1   2800        2    8  1.617153e+07
2   3500        3   12  1.814316e+07
3   4000        3   15  1.956691e+07
4   4600        3   20  2.076926e+07
5   5200        4   14  2.585462e+07
6   5800        4   16  2.814159e+07
7   6300        4   19  2.956535e+07
8   6550        4   13  3.298879e+07
9   6900        5   22  3.139684e+07
10  7250        5   25  3.206808e+07

In [9]:
df.to_csv('Clientoutput.csv',index=False)